:root {
    --font:"Ubuntu";
    --bodyWidth:100%;
    --bodyHeight:100vh;
    --calculatorWidth: 35%;
    --calculatorHeight:85%;
    --fontSizeCalc :1.5em; 
    --buttonColor:#CDA434;
    --radiusButtons : 20%;
}



body{
    text-align: center;
    
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    
}
.pantalla{
    height: 100vh;
    width: 100%;
    background-color: #CF010B;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-pantalla{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
h1{
    margin: 0;
    font-size: 4rem;
}

button {
    font-size:  1.2rem;
}

#container-principal{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: orange;
    border-radius: 40px;
    height: var(--calculatorHeight);
    width: var(--calculatorWidth);
    border: 6px solid black;
    margin-bottom: 1.5rem;
   
    
}
.operaciones {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
input{
    width: 80%;
    height: 40%;
    font-size: 2rem;
    margin-top: 1rem;

}

.op {
    
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.botonOp{
    width: 50%;
    height: 80%;
    font-size: 1.3rem;
    font-weight: bold;

    
}


.container-teclas{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 100%;
    margin-top: 0.7rem;
    
}
.container-numbers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    height: 70%;
    

}

.container-acciones{
    
    display: flex;
    justify-content: center;
    height: 20%;
    width: 100%;


}

.botonAccion{
    margin-top: 1rem;
    width: 26.6%;
    font-weight: bold;
    
}

.botonNUM{
    font-size: 1.3rem;
    font-weight: bold;
}


/*CSS CON MENOS DE 500 PIXELES*/
@media (max-width:900px){

    .titulo-pantalla{
        display: none;
    }
    
    
    #container-principal{
        background-color: orange;
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
        margin: 0;
       
    }

    .container-teclas{
        margin-top: 1.5rem;
    }
    .botonOp{
        padding-bottom: 0.5rem;
    }
    

}